* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

:root {
  color-scheme: light dark; /* to use light-dark() */
  --accent-color: light-dark(#4ba4d8, #5aa3c7);
  --accent-color2: light-dark(#d4e1e4, #33434a);;
  --text-color: light-dark(#333, #d6d6d6);
  --textarea-color: light-dark(#eeeeee, #333);
  --base-color: light-dark(#a0a0a0, #636363);
}

body {
  background-color: light-dark(white, rgb(20, 20, 20));
}

code {
  font-family: 'Courier New', monospace;
  background-color: #d4d4d4;
  color: #9c0e32;
  border: 1.5px solid #000000;
  padding: 0.2rem;
  border-radius: 3px;
}

header {
  background-color: var(--base-color);
  color: var(--text-color);
  padding: 10px 0;
  position: sticky;
  top: 0;

  h1.site-title {
    display: inline-block;
    position: relative;
    margin: 5px;
    left: 1rem;
    font-size: 1.5rem;
  }

  #vault-sync-button {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 8rem;
    height: 2rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--accent-color2);
    }
  }

  #vault-sync-button.syncing {
    background-color: #d8a64b;
  }

  #vault-sync-button.success {
    background-color: #50b631;
  }
}

#memo-list {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 10px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      margin: 1rem;
      border-radius: 10px;
      background-color: var(--textarea-color);
      color: var(--text-color);
      box-shadow: 0 0 5px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

      time.created-at {
        color: #858585;
        font-size: 0.8rem;
        display: block;
      }
    }

    li.synced-false {
      background-color: var(--accent-color2);
    }
  }
}

#editor {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--base-color);
  text-align: center;
  padding: 10px 0;

  #memo-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--textarea-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    font-size: 16px;
    resize: none;
    overflow-y: hidden;
    field-sizing: content;
    min-height: min-content;
    margin-bottom: 0.5rem;

    @media screen and (min-width: 600px) {
      width: 600px;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  #save-button {
    display: block;
    background-color: var(--accent-color);
    color: white;
    width: 8rem;
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--accent-color2);
    }
  }
}

/* ref: https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  transform: translateY(-1.5rem);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* ref: https://design-library.jp/lab/icons-plus-circle */
.dli-plus-circle {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 1;
  position: relative;
  left: -1rem;
  width: 1em;
  height: 1em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
  box-sizing: content-box;
}

.dli-plus-circle>span {
  width: 52%;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.dli-plus-circle>span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}